body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    color: #333;
}

header{
    background-color: #171a21;
    color: #fff;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    font-size: 24px;
    font-style: italic;
    font-weight: bold;
    color: greenyellow;
}

header nav ul {
    list-style: none;
    display: flex;
    gap:20px;
    margin: 0;
    padding: 0;
}
header nav a{
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
}
header nav a:hover{
    text-decoration: underline;
    color: greenyellow;
    transform: scale(1.05);
    text-shadow: 0 4px 8px greenyellow;
}

main{
    padding: 20px;
}

.support-welcome{
    text-align: center;
}

.search-bar{
    width: 100%;
    max-width: 500px;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.popular-topics, .contact-options, .how-can-we-help{
    margin: 30px;
}

.popular-topics ul , .contact-options ul , .how-can-we-help ul{
    list-style: none;
    padding: 0;
}

.popular-topics ul li , .contact-options ul li , .how-can-we-help ul li{
    margin: 10px 0;
}

.popular-topics ul li a , .contact-options ul li a , .how-can-we-help ul li a{
    color: #007bff;
    text-decoration: none;
}

.popular-topics ul li a:hover, .contact-options ul li a:hover, .how-can-we-help ul li a:hover{
    text-decoration: underline;
}

footer{
    background-color: #171a21;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
}

footer ul{
    list-style: none;
    padding: 0;
}

footer ul li{
    display: inline;
    margin: 0 10px;
}

footer ul li a{
    text-decoration: none;
    color: #fff;
}

footer ul li a:hover{
    text-decoration: underline;
}

.social-media{
    margin: 10px;
}

.social-media a{
    text-decoration: none;
    color: #fff;
    margin: 0 10px;
}

.social-media a:hover{
    text-decoration: underline;
}